%script{:src => 'http://www.factual.com/api/v2/Jo8cwSHeGQNIWoWRWt569vHS1JiAtiCIy4pbsr9THxmaxdj008fN7QH9rR5lsnMb/scripts/jsapi', :type => 'text/javascript'}

.factual
  .factual-vis{:factual => 'tableId:zILDwx'}
    %ul{:factual => 'marker:list'}
      %li{:factual => 'marker:row'}
        $fieldIdx1 -- $fieldIdx2
