!!! 5
%html
  %head
    %meta{'http-equiv' => 'content-type', 'content' => 'text/html; charset=utf-8'}
    %title RememberIt
    %link{:rel => 'stylesheet', type => 'text/css', :href => 'http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css'}/
    %script{:src => 'http://code.jquery.com/jquery-1.4.3.min.js', :type => 'text/javascript', :charset => 'utf-8'}
    %script{:src => 'http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js', :type => 'text/javascript', :charset => 'utf-8'}
    %script{:src => '/javascripts/init.js', :type => 'text/javascript', :charset => 'utf-8'}
    %script{:src => 'http://www.factual.com/javascripts/jsapiv2_packaged.js', :type => 'text/javascript', :charset => 'utf-8'}
    %script{:src => '/javascripts/mobile.js', :type => 'text/javascript', :charset => 'utf-8'}
  %body
    %div{'data-role' => 'page'}
      %div{'data-role' => 'header', 'data-theme' => 'b'}
        %h1 RememberIt
        %a.ui-btn-right{:href => '#settings', 'data-icon' => 'gear'} Settings
      %div{'data-role' => 'content', 'data-theme' => 'c'}
        %h2#word
        %p#desc
        %h3 example sentence
        %p#example
        %fieldset.ui-grid-a
          .ui-block-a
            %button{'data-role' => "button", 'data-icon' => 'arrow-l', 'data-theme' => 'c'} Prev
          .ui-block-b
            %button{'data-role' => "button", 'data-icon' => 'arrow-r', 'data-theme' => 'b'} Next
    %div#settings{'data-role' => 'page'}
      %div{'data-role' => 'header', 'data-theme' => 'b'}
        %h1 Settings
      %div{'data-role' => 'content', 'data-theme' => 'c'}
        Settings is currently in-progress.
